name: Docker Image CI

on:
  push:
    branches: [ "main", "new_relic"]
    tags: 
      - '*'

  # workflow_dispatch:
  #  branches: [ "main" ]


jobs:
  build-push-loadgen:
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/scrogatl/doodle-loadgen
          # generate Docker tags based on the following events/attributes
          tags: |
            type=raw,value={{branch}}
            type=raw,value=latest

      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main
    
      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{secrets.GITHUB_TOKEN}}      

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
